/* stylelint-disable font-family-no-missing-generic-family-keyword */

/*  =========================================================================
    Atoms.Img
    Responsive picture
    ========================================================================= */

.c-img {
  background-color: blue;
  display: block;
  font-family: 'object-fit: cover; object-position: center;';
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.c-img--circle {
  border-radius: 50%;
}
